/* You can add global styles to this file, and also import other style files */




/*# sourceMappingURL=bootstrap.min.css.map */






.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/*Fonts ---Brandon Text---*/

html,
body {
    font-size: 14px;
    font-weight: normal;
    /*font-family: "brandon_textregular";*/
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-9,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.m-lt-15 {
    margin-left: 15px !important;
}

.m-rt-15 {
    margin-right: 15px !important;
}

.m-lt-20 {
    margin-left: 20px !important;
}

.m-rt-20 {
    margin-right: 20px !important;
}

.m-bt-15 {
    margin-bottom: 15px !important;
}

.m-bt-20 {
    margin-bottom: 20px !important;
}

.m-bt-30 {
    margin-bottom: 30px !important;
}

a {
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: normal;
    /*font-family: 'brandon_textbold';*/
}

b,
strong {
    font-weight: normal;
    /*font-family: 'brandon_textbold';*/
}

.label {
    letter-spacing: 0.05em;
}

.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}


/*Alert*/

.alert-default h4 {
    font-weight: normal;
}

/*Buttons*/

.btn {
    position: relative;
    padding: 8px 12px;
    background: 0 0;
    outline: 0 !important;
    vertical-align: middle;
}

.btn,
.btn:hover {
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #626262;
}

.btn [class*=" resicms-"],
.btn [class^="resicms-"] {
    font-size: 1.2rem;
}

.btn.btn-icon {
    width: 38px;
    height: 38px;
}

.btn i {
    margin-top: -4px;
    padding-right: .5rem;
    line-height: 0;
    vertical-align: middle;
    display: inline-block;
}

.btn.btn-icon i {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-icon-only i {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-circle {
    border-radius: 100%;
}

@media (min-width: 768px) {
    .btn-resi-scr {
        margin-left: 5px;
        min-width: 120px;
    }
}


.btn-filter i {

    margin-right: 10px;
    vertical-align: middle;

}


.btn-icon-only {
    width: 33px;
    height: 33px;
    display: inline-block;
    position: relative;
    padding: 0 !important;
}

.btn-holder {
    width: 100%;
    display: inline-block;
    padding: 20px;
}

.btn-holder-lg {
    padding: 50px;
}


.btn-group-vertical>.btn.active,
.btn-group-vertical>.btn:active,
.btn-group-vertical>.btn:focus,
.btn-group-vertical>.btn:hover,
.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:hover {
    z-index: 0;
}


.btn-nav {
    margin: 15px 15px 0 0;
    padding: 4px 12px;
}

/*Tooltip*/
.tooltip-inner {
    background-color: #626262;

}

.tooltip.top .tooltip-arrow {
    border-top-color: #626262;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #626262;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #626262;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #626262;
}


/*Dropdown*/
.dropdown-menu {
    padding: 10px 0;
    box-shadow: 0 15px 15px 5px rgba(0, 0, 0, .1);
}

.dropdown-menu>li>a {
    padding: 5px 20px;
}

.dropdown-header {
    text-transform: uppercase;
    color: #b2b2b2;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #114172;
}

.dropdown-menu>li>a>.glyphicon,
.dropdown-menu>li>a>.fa,
.dropdown-menu>li>a>.ion,
.dropdown-menu>li>a>[class^="resicms-"],
.dropdown-menu>li>a>[class*=" resicms-"] {
    margin-right: 10px;
}

/*Main Header---*/

.main-header .logo {
    height: 60px;
    line-height: 60px;
    font-family: 'brandon_textbold';
}


.select-nav .select2-container {
    margin-top: 16px;
    margin-right: 15px;
}

.select-nav .select2-container--default .select2-selection--single {
    min-height: 28px;
    padding: 4px 8px;
}

.select-nav .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 28px;
    padding-right: 12px;
}


.select-nav .select2-container--default .select2-selection--single .select2-selection__arrow {
    min-height: 28px;
}

@media (min-width: 768px) {
    .main-header .navbar {
        min-height: 60px;
    }

    .navbar-custom-menu .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .main-header .sidebar-toggle {
        padding: 17px 15px;
        font-size: 18px;
    }
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {

    position: absolute;
    right: 0;
    left: auto;
    border: 1px solid #ddd;
    background: #fff;

}





/* User Menu */

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    z-index: 5;
    color: #666;
    font-size: 17px;
    margin-top: 15px;
    padding-left: 100px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 110px;
}

.navbar-nav>.user-menu>.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, .15);
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0;
}

.user-footer .btn-group {
    width: 100%;
}

.user-footer .btn-group .btn {
    width: 50%;
    border: none;
    border-radius: 0;
}

@media (min-width: 768px) {
    .navbar-nav>.user-menu .user-image {
        margin-top: -4px;
        line-height: 10px;
    }
}

/*Side Bar Menu---*/

.sidebar-menu {
    margin-top: 30px;
}

.sidebar-menu li>a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-left: 3px solid transparent;
}

.sidebar-menu>li>a>.fa,
.sidebar-menu>li>a>.glyphicon,
.sidebar-menu>li>a>.ion {
    width: 24px;
}

@media (min-width: 768px) {
    .main-sidebar {
        padding-top: 60px;
    }
}

@media (max-width: 768px) {
    .main-sidebar {
        padding-top: 110px;
    }
}

.sidebar-menu li > a > .fa-angle-right, .sidebar-menu li > a > .pull-right-container > .fa-angle-right {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    -webkit-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
}

.sidebar-menu .menu-open > a > .fa-angle-right, .sidebar-menu .menu-open > a > .pull-right-container > .fa-angle-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*Sidebar Search*/
.sidebar-form {
    border-radius: 3px;
    border: none;
    margin: 20px 10px;

}

.sidebar-form .input-group {
    display: block;
}

.sidebar-form .input-group-btn {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
}

.sidebar-form input[type="text"] {
    padding-right: 44px;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;

}

.sidebar-form input[type="text"],
.sidebar-form .btn {
    box-shadow: none;
    border: 1px solid transparent;
    height: 35px;
}

.sidebar-form .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}


.sidebar-form .input-group-btn:last-child>.btn {
    margin-left: 0;
}

/*Content Section---*/
.content-header {
    width: 100%;
    display: inline-block;
    padding: 20px 20px 5px 20px;
}

.content-header>h1 {
    font-size: 18px;
    color: #626262;
}

.content-header>.breadcrumb {
    padding: 3px 5px 0 5px;
    margin-top: 0;
    margin-left: 20px;
    float: left;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    background: none;
}

.content-header>.breadcrumb>li>a {
    color: #626262;
}

@media (min-width: 768px) {
    .content-header>.breadcrumb {
        padding: 8px 5px 0 5px;
    }
}

@media (min-width: 1600px) {
    .content-header>.breadcrumb {
        padding: 14px 5px 0 5px;
    }
}



.breadcrumb>li+li::before {
    color: #b2b2b2;
}

.content-head-tool {
    margin-left: 15px;
}

.content-head-tool .btn-group {
    margin-right: 15px;
}

.content-header-select {
    width: 180px;
    display: inline-block;
    margin-right: 10px;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 992px) {
    .content-head-tool {
        width: 100%;
        margin: 15px 0 0 0;
    }

    .content-header-select {
        width: 170px;
    }
}

@media (min-width: 768px) {
    .content-header>h1 {
        font-size: 24px;
    }

}

@media (min-width: 1600px) {
    .content-header>h1 {
        font-size: 30px;
    }
}

@media (min-width: 370px) and (max-width: 520px) {
    .content-header-select {
        width: 100px;
    }
}

@media (min-width: 320px) and (max-width: 370px) {
    .content-header-select {
        width: 150px;
        margin-bottom: 10px;
    }
}

/* Box */

.box {
    border-top: 0;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, .06);
}

.widget-desc-box {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.height-fluid {
    height: calc(100% - 20px);
}

.box.box-solid.box-primary,
.box.box-solid.box-success {
    border: none;
}

.box-header {
    padding: 20px 20px;
    border-radius: 3px 3px 0 0;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 10px;
}

.box.box-solid>.box-header>.box-tools .btn {
    padding: 8px 7px;
}

.box-header .header-search {
    display: inline-block;
    vertical-align: middle;
}

.header-search {
    border-radius: 3px;
    border: none;
    margin: 0;
}

.box .box-title {
    margin: 0;
}

.box-body {
    padding: 20px;
}

.box-footer {
    padding: 20px;
}

.box-footer .btn {
    margin-left: 15px
}

@media (max-width: 768px) {
    .box-header>.box-tools {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 10px;
        text-align: right;
    }

}


/*Screen-Grid*/

.screen-grid {
    margin-right: -10px;
    margin-left: -10px;
}

.screen-grid .box-wrap {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}




@media (min-width: 700px) and (max-width: 768px) {
    .screen-grid .box-wrap {
        width: 50%;
        flex: 0 0 50%;
    }
}


@media (min-width: 768px) and (max-width: 992x) {
    .screen-grid .box-wrap {
        width: 100%;
        flex: 0 0 100%;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .screen-grid .box-wrap {
        width: 50%;
        flex: 0 0 50%;
    }
}


@media (min-width: 1300px) and (max-width: 1600px) {
    .screen-grid .box-wrap {
        width: 33.33333333%;
        flex: 0 0 33.33333333%;
    }
}

@media (min-width: 1600px) {
    .screen-grid .box-wrap {
        width: 25%;
        flex: 0 0 25%;
    }
}


@media (min-width: 2400px) {
    .screen-grid .box-wrap {
        width: 20%;
        flex: 0 0 20%;
    }
}




.screen-grid .box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.screen-grid .box.screen .box-header {
    padding: 10px 15px;
}

.screen-grid .box.screen .box-header .box-title {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
}

.screen-grid .box.screen .box-header .btn-box-tool {
    font-size: 14px;
}

.screen-grid .box.screen .box-header .box-tools {
    position: absolute;
    right: 10px;
    top: 8px;
}

.screen-grid .box.screen .box-body {
    padding: 10px 15px;
}

.screen-grid .box.screen .description-block {
    margin-bottom: 15px;
    text-align: left;
}


.screen-grid .description-row {
    margin-bottom: 5px;
    padding-top: 10px;
    border-top: 1px solid #f0f0f0;


}



.screen-grid .description-row label {
    margin-bottom: 0;
}

.data-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.data-row-rt {
    flex: 1;
    min-width: 0;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-row-lt {
    white-space: nowrap;
    padding: 5px 10px 5px 0;
}

.data-row-lt label {
    margin-bottom: 0;
}

.data-single-label {
    width: 100%;
    display: inline-block;
    padding-right: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
}

.data-link {
    color: #7f7f7f;
}

.data-link:hover {
    color: #626262;
    text-decoration: underline;
}

.data-link:focus,
.data-link:active {
    color: #626262;
}

.data-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


@media (max-width: 768px) {
    .box.screen .description-block .box-title {
        margin-bottom: 10px;
    }

    .description-block .text-right {
        text-align: left;
    }
}

/*Widget*/
.widget-grid {
    display: flex;
    flex-wrap: wrap;
}

.widget-grid .box {
    border-radius: 5px;
    box-shadow: none;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.widget-grid .box:hover {
    box-shadow: 0px 10px 15px 5px rgba(17, 65, 114, 0.16);
}


.widget-grid .box .widget-link {
    width: 100%;
    height: 100%;
    display: block;
}

.widget-grid .header-block {
    position: relative;
    padding-left: 68px;
}

.widget-grid .widget-icon {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
}

.widget-link .description-block {
    color: #7f7f7f;
    text-align: left;
    padding-left: 68px;
}


.widget-link:hover .description-block {
    color: #7f7f7f;

}

.overline-from-left {

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;

}

.overline-from-left::before {

    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: #114172;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}

.overline-from-left:hover::before,
.overline-from-left:focus::before,
.overline-from-left:active::before {

    right: 0;

}

/*Asset Page*/
.asset-type {
    width: 100%;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0;
    background: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
    list-style: none;

}

.asset-type li {
    flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    padding: 3px 5px;
    margin-right: 5px;
    border-radius: 3px;
    color: #7F7F7F;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.folder-box-wrap {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.folder-wrap-title {
    margin: 0 0 20px;
}

@media (min-width: 700px) and (max-width: 768px) {
    .screen-grid.folder-grid .box-wrap {
        width: 50%;

    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .screen-grid.folder-grid .box-wrap {
        width: 50%;

    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .screen-grid.folder-grid .box-wrap {
        width: 33.33333333%;

    }
}


@media (min-width: 1300px) and (max-width: 1500px) {
    .screen-grid.folder-grid .box-wrap {
        width: 25%;

    }
}


@media (min-width: 1500px) and (max-width: 1700px) {
    .screen-grid.folder-grid .box-wrap {
        width: 20%;

    }
}


@media (min-width: 1700px) and (max-width: 1900px) {
    .screen-grid.folder-grid .box-wrap {
        width: 16.666666667%;

    }
}

@media (min-width: 1900px) {
    .screen-grid.folder-grid .box-wrap {
        width: 16.666666667%;

    }
}

.folder-grid .box {
    box-shadow: none;
}

.folder-wrap {
    padding: 15px 15px 15px;
    border: 1px solid #dadce0;
    border-radius: 3px;
}

.folder-list .folder-wrap {
    padding: 10px 10px 10px;
    border: none;
    border-bottom: 1px solid #dadce0;
    border-radius: 0;
}

.folder-list .folder-wrap:last-child {
    border-bottom: none;
}

.folder-wrap:hover {
    background-color: #EFF7FF;
    cursor: pointer;
}

.folder-info-wrap {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}


.folder-wrap .folder-box-icon {
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
    position: relative;
    z-index: 1;
}

.folder-list .folder-wrap .folder-box-icon {
    margin-right: 10px;
}

.folder-wrap .folder-box-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    z-index: 1;
}



.folder-wrap .folder-box-content {
    width: calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    position: relative;
    padding-right: 28px;
    box-sizing: border-box;
    -moz-box-flex: 1 1 auto;
    flex: 1 1 auto;
}

.folder-box-content .info-box-text {
    margin: 2px 0 0;
    text-transform: none;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.assets-count {
    margin: 0px 10px 0;
    box-sizing: border-box;
    -moz-box-flex: 0 0 auto;
    flex: 0 0 auto;
    font-family: 'brandon_textbold';
}


.folder-box-content .btn {
    position: absolute;
    top: -6px;
    right: -10px;
    z-index: 2;
}

.info-box-text .form-control {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-right: 20px;
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 9;
    /*font-family: "brandon_textregular";*/
    color: #7f7f7f;
}


/*dropzone*/

.dropzone.dz-clickable {
    cursor: default;
}


.resi-dropzone {
    border: 2px dashed #d2d6de;
}

.dropzone .dz-preview .dz-image {
    border-radius: 5px;
}

.dropzone .dz-preview .dz-remove {
    color: #b2b2b2;
    text-decoration: none;
}

.dropzone .dz-preview .dz-progress .dz-upload {
    background: #63BFB0;
}

.dropzone .dz-preview .dz-remove:hover {
    color: #626262;
    text-decoration: none;
}

.dropzone.assets-dropzone {
    width: 100%;
    display: inline-block;
    padding: 20px;
    border: none;
}

.assets-dropzone .dz-message {
    margin: 0 0 15px;
    text-align: right;
}

.assets-dropzone .dropzone {
    padding: 0 10px;
}

.assets-dropzone .dz-image-preview, .assets-dropzone .dropzoneTemplate {
    width: 100%;
    padding: 0 10px;
    float: left;
}

.dz-image-preview .card, .dropzoneTemplate .card {
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.dz-image-preview .card .card-title, .dropzoneTemplate .card .card-title {
    width: 100%;
    display: inline-block;
    padding: 0 15px 0px;
    margin-bottom: 0px;
    color: #626262;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.3;
}

.card-title .show-tooltip {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.assets-dropzone .card-media .media {
    position: relative;
    border-radius: 5px 5px 0 0;
}

.assets-dropzone .card-media .dz-img {
    width: 100%;
    min-width: 196px;
    height: 10rem;
    float: left;
    position: relative;
    border-radius: 3px 3px 0 0;
    background-color: #F5FAFF;
    overflow: hidden;
    cursor: pointer;
}

.assets-dropzone .card-media .dz-img img {
    min-width: 100%;
    max-width: 200px;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    z-index: 1;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}

.assets-dropzone .card-media .hover-tools {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px 0 0;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.assets-dropzone .card-media:hover .hover-tools {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}


.assets-dropzone .card-media .hover-tools .btn-group {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
}

.hover-tools .btn-group .btn,
.hover-tools .btn-group .btn i {
    cursor: pointer;
}


.assets-dropzone .card-footer {
    width: 100%;
    display: inline-block;
    padding: 10px 15px 10px;
    vertical-align: middle;
}

.default-link {
    display: inline-block;
    color: #b2b2b2;
    cursor: pointer;
}

.default-link:hover {
    color: #7f7f7f;
}

.more-dropdown {
    cursor: pointer !important;
}



@media (min-width: 500px) {
    .assets-dropzone .dz-image-preview, .assets-dropzone .dropzoneTemplate  {
        width: 50%;
    }
}


@media (min-width: 992px) {
    .assets-dropzone .dz-image-preview, .assets-dropzone .dropzoneTemplate {
        width: 33.33333333%;
    }
}



@media (min-width: 1200px) {
    .assets-dropzone .dz-image-preview, .assets-dropzone .dropzoneTemplate {
        width: 25%;
    }
}


@media (min-width: 1500px) {
    .assets-dropzone .dz-image-preview, .assets-dropzone .dropzoneTemplate {
        width: 16.66666667%;
    }
}

.dz-image-preview .card-body, .dropzoneTemplate .card-body {
    position: relative;
}

.dz-image-preview .card-body .progress, .dropzoneTemplate .card-body .progress {
    width: 100%;
    height: 5px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.asset-type-icon {    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
}


/*Modal Assets*/

.assets-dropzone.assets-xs .card-media .dz-img {
    min-width: 100px;
    height: 100px;
}

.assets-dropzone.assets-xs .dz-image-preview .card .card-title, .assets-dropzone.assets-xs .dropzoneTemplate .card .card-title {
    padding: 0px 10px 0px;
}

.assets-dropzone.assets-xs .card-footer {
    padding: 0px 10px 10px;
}



@media (min-width: 768px) {
    .assets-dropzone.assets-xs .dz-image-preview, .assets-dropzone.assets-xs .dropzoneTemplate {
        width: 33.33333333%;
    }
}


@media (min-width: 992px) {
    .assets-dropzone.assets-xs .dz-image-preview, .assets-dropzone.assets-xs .dropzoneTemplate {
        width: 25%;
    }
}



@media (min-width: 1200px) {
    .assets-dropzone.assets-xs .dz-image-preview, .assets-dropzone.assets-xs .dropzoneTemplate {
        width: 16.66666667%;
    }
}


@media (min-width: 1500px) {
    .assets-dropzone.assets-xs .dz-image-preview, .assets-dropzone.assets-xs .dropzoneTemplate {
        width: 10%;
    }
}


/* Form Controls*/
form {
    margin: 0;
}

.form-control {
    height: 38px;
    border-radius: 3px;
    color: #626262;
}

.form-control-pill {
    border-radius: 38px;
}
.input-group .input-group-addon {
    border-radius: 3px;
    border-color: #d2d6de;
    background-color: #e5e5e5;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle {

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.form-group label.error {
    position: absolute;
    left: 10px;
    bottom: -20px;
    font-size: 12px;
}

label.error,
.label.error {
    margin-bottom: 0;
    font-weight: normal;
}

.form-group label.error {
    margin-top: 5px;
}

@media (min-width: 991px) {
    .frm-grp-mb {
        margin-bottom: 0;
    }
}

/*Select*/
.select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
    min-height: 38px;
    border-radius: 3px;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border: 1px solid #d2d6de;
}

.select2-container--open.select2-container--default .select2-selection--single,
.select2-container--open.select2-container--default .select2-selection--multiple {
    border: 1px solid #266AAF;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    color: #626262;
    line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    min-height: 38px;
    position: absolute;
    top: 1px;
    right: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #626262 transparent transparent transparent;
}

.select2-dropdown {
    margin-top: -1px;
}

.select2-container--open .select2-dropdown {
    border: 1px solid #266AAF;
    box-shadow: 0 15px 15px 5px rgba(0, 0, 0, .1);
}


.asset-group .input-group .select2-container--default .select2-selection--single {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0px 5px 5px 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #266AAF;
    border: 1px solid #266AAF;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: rgba(255, 255, 255, 0.7);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #rba(255, 255, 255, 0.7);
}

/*Radio Checkbox*/

@-webkit-keyframes ripple {
    0% {
        -webkit-box-shadow: 0 0 0 1px transparent;
        box-shadow: 0 0 0 1px transparent;
    }

    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    }

    100% {
        -webkit-box-shadow: 0 0 0 10px transparent;
        box-shadow: 0 0 0 10px transparent;
    }
}

@keyframes ripple {
    0% {
        -webkit-box-shadow: 0 0 0 1px transparent;
        box-shadow: 0 0 0 1px transparent;
    }

    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    }

    100% {
        -webkit-box-shadow: 0 0 0 10px transparent;
        box-shadow: 0 0 0 10px transparent;
    }
}

.resi-checkbox label,
.resi-radio-button label {
    min-width: 90px;
    margin-bottom: 0;
}

.resi-swtich .demo-switch-title,
.resi-swtich .switch {
    width: 150px;
    margin-bottom: 10px;
    display: inline-block;
}

[type=checkbox]:checked.chk-col-red+label:before {
    border-right: 2px solid #fc4b6c;
    border-bottom: 2px solid #fc4b6c;
}

[type=checkbox]:checked.chk-col-purple+label:before {
    border-right: 2px solid #7460ee;
    border-bottom: 2px solid #7460ee;
}

[type=checkbox]:checked.chk-col-deep-purple+label:before {
    border-right: 2px solid #614ed3;
    border-bottom: 2px solid #614ed3;
}

[type=checkbox]:checked.chk-col-blue+label:before {
    border-right: 2px solid #389af0;
    border-bottom: 2px solid #389af0;
}

[type=checkbox]:checked.chk-col-light-blue+label:before {
    border-right: 2px solid #45aef1;
    border-bottom: 2px solid #45aef1;
}

[type=checkbox]:checked.chk-col-teal+label:before {
    border-right: 2px solid #39CCCC;
    border-bottom: 2px solid #39CCCC;
}

[type=checkbox]:checked.chk-col-green+label:before {
    border-right: 2px solid #26C6DA;
    border-bottom: 2px solid #26C6DA;
}

[type=checkbox]:checked.chk-col-yellow+label:before {
    border-right: 2px solid #ffb22b;
    border-bottom: 2px solid #ffb22b;
}

[type=checkbox]:checked.chk-col-orange+label:before {
    border-right: 2px solid #f7941d;
    border-bottom: 2px solid #f7941d;
}

[type=checkbox]:checked.chk-col-deep-orange+label:before {
    border-right: 2px solid #df8214;
    border-bottom: 2px solid #df8214;
}

[type=checkbox]:checked.chk-col-maroon+label:before {
    border-right: 2px solid #8C1919;
    border-bottom: 2px solid #8C1919;
}

[type=checkbox]:checked.chk-col-grey+label:before {
    border-right: 2px solid #d2d6de;
    border-bottom: 2px solid #d2d6de;
}

[type=checkbox]:checked.chk-col-navy+label:before {
    border-right: 2px solid #001F3F;
    border-bottom: 2px solid #001F3F;
}

[type=checkbox]:checked.chk-col-black+label:before {
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

[type=checkbox]:checked.chk-col-white+label:before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

[type=checkbox].filled-in:checked+label:before {
    border-right: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
}

[type=checkbox].filled-in:checked.chk-col-red+label:after {
    border: 2px solid #fc4b6c;
    background-color: #fc4b6c;
}

[type=checkbox].filled-in:checked.chk-col-purple+label:after {
    border: 2px solid #7460ee;
    background-color: #7460ee;
}

[type=checkbox].filled-in:checked.chk-col-deep-purple+label:after {
    border: 2px solid #614ed3;
    background-color: #614ed3;
}

[type=checkbox].filled-in:checked.chk-col-blue+label:after {
    border: 2px solid #389af0;
    background-color: #389af0;
}

[type=checkbox].filled-in:checked.chk-col-light-blue+label:after {
    border: 2px solid #45aef1;
    background-color: #45aef1;
}

[type=checkbox].filled-in:checked.chk-col-teal+label:after {
    border: 2px solid #39CCCC;
    background-color: #39CCCC;
}

[type=checkbox].filled-in:checked.chk-col-green+label:after {
    border: 2px solid #26C6DA;
    background-color: #26C6DA;
}

[type=checkbox].filled-in:checked.chk-col-yellow+label:after {
    border: 2px solid #ffb22b;
    background-color: #ffb22b;
}

[type=checkbox].filled-in:checked.chk-col-orange+label:after {
    border: 2px solid #f7941d;
    background-color: #f7941d;
}

[type=checkbox].filled-in:checked.chk-col-deep-orange+label:after {
    border: 2px solid #df8214;
    background-color: #df8214;
}

[type=checkbox].filled-in:checked.chk-col-maroon+label:after {
    border: 2px solid #8C1919;
    background-color: #8C1919;
}

[type=checkbox].filled-in:checked.chk-col-grey+label:after {
    border: 2px solid #d2d6de;
    background-color: #d2d6de;
}

[type=checkbox].filled-in:checked.chk-col-navy+label:after {
    border: 2px solid #001F3F;
    background-color: #001F3F;
}

[type=checkbox].filled-in:checked.chk-col-black+label:after {
    border: 2px solid #000;
    background-color: #000;
}

[type=checkbox].filled-in:checked.chk-col-white+label:after {
    border: 2px solid #fff;
    background-color: #fff;
}

[type=radio].radio-col-red:checked+label:after {
    background-color: #fc4b6c;
    border-color: #fc4b6c;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-purple:checked+label:after {
    background-color: #7460ee;
    border-color: #7460ee;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-deep-purple:checked+label:after {
    background-color: #614ed3;
    border-color: #614ed3;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-blue:checked+label:after {
    background-color: #389af0;
    border-color: #389af0;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-light-blue:checked+label:after {
    background-color: #45aef1;
    border-color: #45aef1;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-teal:checked+label:after {
    background-color: #39CCCC;
    border-color: #39CCCC;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-green:checked+label:after {
    background-color: #26C6DA;
    border-color: #26C6DA;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-yellow:checked+label:after {
    background-color: #ffb22b;
    border-color: #ffb22b;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-orange:checked+label:after {
    background-color: #f7941d;
    border-color: #f7941d;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-deep-orange:checked+label:after {
    background-color: #df8214;
    border-color: #df8214;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-maroon:checked+label:after {
    background-color: #8C1919;
    border-color: #8C1919;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-grey:checked+label:after {
    background-color: #d2d6de;
    border-color: #d2d6de;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-navy:checked+label:after {
    background-color: #001F3F;
    border-color: #001F3F;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-black:checked+label:after {
    background-color: #000;
    border-color: #000;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].radio-col-white:checked+label:after {
    background-color: #fff;
    border-color: #fff;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-red:checked+label:before {
    border: 2px solid #fc4b6c;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-red:checked+label:after {
    background-color: #fc4b6c;
    border: 2px solid #fc4b6c;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-purple:checked+label:before {
    border: 2px solid #7460ee;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-purple:checked+label:after {
    background-color: #7460ee;
    border: 2px solid #7460ee;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-deep-purple:checked+label:before {
    border: 2px solid #614ed3;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-deep-purple:checked+label:after {
    background-color: #614ed3;
    border: 2px solid #614ed3;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-blue:checked+label:before {
    border: 2px solid #389af0;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-blue:checked+label:after {
    background-color: #389af0;
    border: 2px solid #389af0;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-light-blue:checked+label:before {
    border: 2px solid #45aef1;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-light-blue:checked+label:after {
    background-color: #45aef1;
    border: 2px solid #45aef1;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-teal:checked+label:before {
    border: 2px solid #39CCCC;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-teal:checked+label:after {
    background-color: #39CCCC;
    border: 2px solid #39CCCC;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-green:checked+label:before {
    border: 2px solid #26C6DA;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-green:checked+label:after {
    background-color: #26C6DA;
    border: 2px solid #26C6DA;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-yellow:checked+label:before {
    border: 2px solid #ffb22b;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-yellow:checked+label:after {
    background-color: #ffb22b;
    border: 2px solid #ffb22b;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-orange:checked+label:before {
    border: 2px solid #f7941d;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-orange:checked+label:after {
    background-color: #f7941d;
    border: 2px solid #f7941d;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-deep-orange:checked+label:before {
    border: 2px solid #df8214;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-deep-orange:checked+label:after {
    background-color: #df8214;
    border: 2px solid #df8214;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-maroon:checked+label:before {
    border: 2px solid #8C1919;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-maroon:checked+label:after {
    background-color: #8C1919;
    border: 2px solid #8C1919;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-grey:checked+label:before {
    border: 2px solid #d2d6de;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-grey:checked+label:after {
    background-color: #d2d6de;
    border: 2px solid #d2d6de;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-navy:checked+label:before {
    border: 2px solid #001F3F;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-navy:checked+label:after {
    background-color: #001F3F;
    border: 2px solid #001F3F;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-black:checked+label:before {
    border: 2px solid #000;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-black:checked+label:after {
    background-color: #000;
    border: 2px solid #000;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-white:checked+label:before {
    border: 2px solid #fff;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap.radio-col-white:checked+label:after {
    background-color: #fff;
    border: 2px solid #fff;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

[type=checkbox]+label {
    font-weight: 400;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

[type=checkbox]+label:before,
[type=checkbox]:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

[type=checkbox]:not(.filled-in)+label:after {
    border: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[type=checkbox]:not(:checked):disabled+label:before {
    border: none;
    background-color: rgba(0, 0, 0, .26);
}

[type=checkbox].tabbed:focus+label:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    border: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .1);
}

[type=checkbox]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #45aef1;
    border-bottom: 2px solid #45aef1;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox]:checked:disabled+label:before {
    border-right: 2px solid rgba(0, 0, 0, .26);
    border-bottom: 2px solid rgba(0, 0, 0, .26);
}

[type=checkbox]:indeterminate+label:before {
    top: -11px;
    left: -12px;
    width: 10px;
    height: 22px;
    border-top: none;
    border-left: none;
    border-right: 2px solid #26a69a;
    border-bottom: none;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox]:indeterminate:disabled+label:before {
    border-right: 2px solid rgba(0, 0, 0, .26);
    background-color: transparent;
}

[type=checkbox].filled-in+label:after {
    border-radius: 2px;
}

[type=checkbox].filled-in+label:after,
[type=checkbox].filled-in+label:before {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    -o-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    z-index: 1;
}

[type=checkbox].filled-in:not(:checked)+label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox].filled-in:not(:checked)+label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0;
    z-index: 0;
}

[type=checkbox].filled-in:checked+label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

[type=checkbox].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #45aef1;
    background-color: #45aef1;
    z-index: 0;
}

[type=checkbox].filled-in.tabbed:focus+label:after {
    border-radius: 2px;
    border-color: #5a5a5a;
    background-color: rgba(0, 0, 0, .1);
}

[type=checkbox].filled-in.tabbed:checked:focus+label:after {
    border-radius: 2px;
    background-color: #45aef1;
    border-color: #45aef1;
}

[type=checkbox].filled-in:disabled:not(:checked)+label:before {
    background-color: transparent;
    border: 2px solid transparent;
}

[type=checkbox].filled-in:disabled:not(:checked)+label:after {
    border-color: transparent;
    background-color: #BDBDBD;
}

[type=checkbox].filled-in:disabled:checked+label:before {
    background-color: transparent;
}

[type=checkbox].filled-in:disabled:checked+label:after {
    background-color: #BDBDBD;
    border-color: #BDBDBD;
}

[type=radio]:checked,
[type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

[type=radio]:checked+label,
[type=radio]:not(:checked)+label {
    font-weight: 400;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[type=radio]+label:after,
[type=radio]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
}

[type=radio].with-gap:checked+label:after,
[type=radio].with-gap:checked+label:before,
[type=radio]:checked+label:after,
[type=radio]:checked+label:before,
[type=radio]:not(:checked)+label:after,
[type=radio]:not(:checked)+label:before {
    border-radius: 50%
}

[type=radio]:not(:checked)+label:after,
[type=radio]:not(:checked)+label:before {
    border: 2px solid #5a5a5a;
}

[type=radio]:not(:checked)+label:after {
    z-index: -1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[type=radio]:checked+label:before {
    border: 2px solid transparent;
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap:checked+label:after,
[type=radio].with-gap:checked+label:before,
[type=radio]:checked+label:after {
    border: 2px solid #389af0;
}

[type=radio].with-gap:checked+label:after,
[type=radio]:checked+label:after {
    background-color: #389af0;
    z-index: 0;
}

[type=radio]:checked+label:after {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

[type=radio].with-gap:checked+label:after {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}

[type=radio].tabbed:focus+label:before {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .1);
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap:disabled:checked+label:before {
    border: 2px solid rgba(0, 0, 0, .26);
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio].with-gap:disabled:checked+label:after {
    border: none;
    background-color: rgba(0, 0, 0, .26);
}

[type=radio]:disabled:checked+label:before,
[type=radio]:disabled:not(:checked)+label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, .26);
    -webkit-animation: ripple .2s linear forwards;
    animation: ripple .2s linear forwards;
}

[type=radio]:disabled+label {
    color: rgba(0, 0, 0, .26);
}

[type=radio]:disabled:not(:checked)+label:before {
    border-color: rgba(0, 0, 0, .26);
}

[type=radio]:disabled:checked+label:after {
    background-color: rgba(0, 0, 0, .26);
    border-color: #BDBDBD;
}


/* Time Picker*/
.bootstrap-datetimepicker-widget.dropdown-menu {
    width: 15em;
}

.bootstrap-datetimepicker-widget table td {
    width: 42px;
    height: 32px;
    line-height: 32px;
}

.bootstrap-datetimepicker-widget table td span {
    width: 42px;
    height: 32px;
    line-height: 32px;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
    width: 42px;
    font-weight: normal;
}

.bootstrap-datetimepicker-widget table td.separator {
    width: 10px;
}

/*Screen Filter*/
.filter-wrap {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: right;
}

.header-search {
    width: 220px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.header-search .form-control {
    width: 100%;
    position: relative;
    padding-left: 32px;
    z-index: 1;
    border-radius: 38px;
}

.header-search .btn {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    z-index: 2;
    box-shadow: none;
}

.filter-dropdown,
.sort-dropdown {
    width: auto;
    display: inline-block;
    margin-right: 20px;
}

.filter-wrap .btn-filter {
    display: inline-block;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}


.btn-filter i {
    margin-right: 10px;
    vertical-align: middle;
}

.btn-filter .filter-label {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
}

.btn-filter .caret {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .filter-wrap {
        text-align: left;
    }

    .header-search {
        width: 100%;
        margin: 10px 0 0;
    }
}



/*Table*/

.table.info-table-col-2 tr td:nth-child(1) {
    width: 130px;
}

.table-move > tbody > tr:hover {
    cursor: move;
}






/*Data Table*/
.table-responsive {
    width: 100%;
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.datatable-header .dataTables_length,
.datatable-header .custom-data-filter {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.datatable-header .custom-data-filter {
    text-align: right;
    vertical-align: middle;
}

.datatable-footer .dataTables_info {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.datatable-footer .dataTables_paginate {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 10px;
    font-family: 'brandon_textbold';
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px 10px;
}



.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}

.table-bordered {
    border: 1px solid #e5e5e5;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #e5e5e5;
}


.datatable-body {
    margin: 20px 0;
}


.custom-search-filter {
    width: 200px;
    display: inline-block;
    position: relative;
}

.custom-search-filter .btn {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    z-index: 2;
    box-shadow: none;
}

.custom-search-filter .dataTables_filter {
    width: 100%;
    display: inline-block;
}

.custom-search-filter .dataTables_filter label {
    width: 100%;
    margin-bottom: 0;
}

.custom-search-filter .dataTables_filter .form-control {
    width: 100%;
    padding-left: 36px;
    margin: 0;
    border-radius: 38px;
}

.custom-search-filter .btn .fa {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dataTables_length .select2-container--default {
    margin: 0 8px;
    width: 75px !important;
}

.dataTables_length .select2-container--default .select2-selection--single {
    border: none;
    background: #f0f0f0;
}


@media (max-width: 992px) {

    .datatable-header .dataTables_length,
    .datatable-header .custom-data-filter {
        width: 100%;

    }

    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.custom-data-filter {
        text-align: left;
    }

    .datatable-header .dataTables_length {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {

    .datatable-footer .dataTables_info,
    .datatable-footer .dataTables_paginate {
        width: 100%;
    }

    div.dataTables_wrapper div.dataTables_info {
        margin-bottom: 10px;
    }

    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: left;
    }
}

/*Pagination*/

.pagination>li>a {
    background: #fff;
    margin: 0 2px
}

.pagination>li>a,
.pagination>li>span {
    border: none;
    border-radius: 3px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #114172;
    background-color: #e5e5e5;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #114172;
}


/* Modal Popup */


.modal-tab-scroll .folder-list {
    height: 300px;
    padding: 20px;
    overflow-y: auto;
}

.modal-title {
    padding-right: 70px;
}

@media (min-width:1024px) {
    .modal-xl {
        width: 800px
    }
}

@media (min-width:1399px) {
    .modal-xl {
        width: 1140px
    }
}

@media (min-width:1400px) {
    .modal-dialog.modal-xl {
        width: 1299px
    }
}

.modal-header .close {
    font-size: 32px;
}


.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -6px;
    right: -21px;
}


/*Tab UI*/
.nav {
    padding: 0 20px;
}

.nav-tabs {
    border-bottom: 1px solid #f0f0f0;
}

.nav-tabs>li>a {
    margin-right: 0;
    color: #7f7f7f;
    border-radius: 0;
}

.nav-tabs>li>a:hover {
    border-color: transparent;
}

.nav>li>a:hover,
.nav>li>a:active,
.nav>li>a:focus {
    color: #7f7f7f;
    background: #e5e5e5;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #389af0;
    cursor: default;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #389af0;
    border-bottom-width: 2px;
}

.modal-tab-scroll .modal-body {
    padding: 0;
}

.modal-tab-scroll .tab-content {
    height: 392px;
    padding: 20px;
    overflow-y: auto;
}

/*Channels*/
.layout-list-wrap {
    height: 100%;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, .06);
}

.layout-list-wrap h4 {
    padding: 20px 0 15px;
    margin: 0 20px 15px;
    border-bottom: 1px solid #e5e5e5;
}

.layout-list-wrap .list-group {
    max-height: 655px;
    overflow-y: auto;
    margin: 0;
}

.layout-list-wrap .list-group-item {
    padding: 10px 15px;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border-radius: 0;
}

.layout-list-wrap .list-group-item:hover {
    background: #f0f0f0;
}

.layout-list-wrap .list-group-item.selected {
    color: #626262;
    background: #f0f0f0;
}

.layout-list-wrap .list-group-item:first-child {
    border-top: none;
}

.grid-holder {
    padding: 30px 0px 15px;
}

.grid-title {
    margin: 0 0 15px 0;
    padding: 10px;
    background: #f0f0f0;
    font-size: 16px;
}

.grid-top .form-control {
    border-radius: 38px;
}

.grid-wrap {}

.grid-container {
    width: 100%;
    display: inline-block;
    margin: 15px 0;
    padding: 10px 10px 20px 10px;
    background: #f0f0f0;
}

.grid-stack {
    width: 100%;
    margin-top: 15px;
    background-color: #f0f0f0;
}

.grid-stack>.grid-stack-item {}

.grid-stack-item-content {
    color: #626262;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.grid-stack-item[data-gs-width="4"] {
    width: 100% !important;
}

.grid-stack-item[data-gs-width="3"] {
    width: 75% !important
}

.grid-stack-item[data-gs-width="2"] {
    width: 50% !important
}

.grid-stack-item[data-gs-width="1"] {
    width: 25% !important;
}

.grid-stack-item[data-gs-x="3"] {
    left: 75% !important
}

.grid-stack-item[data-gs-x="2"] {
    left: 50% !important
}

.grid-stack-item[data-gs-x="1"] {
    left: 25% !important
}

.detail-wrap {
    height: 100%;
    padding: 30px 20px 30px 0px;
    background: #fff;
}

.box-body .detail-wrap {
    padding: 0px 0px 30px 0px;
}


.detail-wrap-neutral {
    padding: 0 0 30px 0px;
}

.detail-wrap h4 {
    padding: 20px 15px 15px;
    margin: 0;
    background: #e5e5e5;
}

.detail-body {
    padding: 15px;
    background-color: #f0f0f0;
}

.ui-draggable-handle .btn {
    max-width: 100%;
    float: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn-asset-choosen {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    text-align: left;
}

.btn-asset-choosen span {
    width: 100%;
    display: block;
    padding-right: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn-asset-choosen i {
    position: absolute;
    top: 17px;
    right: 0;
    margin: 0;
}


.grid-stack>.grid-stack-item>.ui-resizable-se {
    position: absolute;
    right: 20px;
    bottom: 10px;
}




@media (max-width: 1200px) {
    .grid-holder {
        padding: 30px 20px 15px 0;
    }

    .detail-wrap {
        padding: 30px 20px 30px 20px;
    }
}


@media (max-width: 768px) {
    .layout-list-wrap .list-group {
        padding: 20px;
    }

    .grid-holder {
        padding: 30px 20px 15px 20px;
    }
}


/*Playlist*/
.each-playlist {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 10px 15px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}

.each-playlist:last-child {
    border-bottom: none;
}

.each-playlist.active {
    background: #EFF7FF;
}

.playlist-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
    vertical-align: middle;
}

.playlist-title {
    flex: 1;
    min-width: 0;
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist-date {
    align-self: end;
}


.colorpicker-element .input-group-addon {
    cursor: pointer;
}

.colorpicker-element .input-group-addon:hover {
    background-color: pointer;
}

.colorpicker-element .input-group-addon i {
    background-color: transparent !important;
}

.colorpicker-element .playlist-color {
    position: absolute;
    right: 52px;
    top: 9px;
    margin: 0;
    z-index: 9;
}

.colorpicker-2x .colorpicker-saturation {
    width: 200px;
    height: 200px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
    width: 30px;
    height: 200px;
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
    height: 30px;
}


.drag-asset-type {
    padding: 10px 20px;
}

.asset-group {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.drag-drop-com-wrap {

    padding: 20px 20px;
    margin: 0 0 20px 0;
    overflow-y: auto;
}

.playlist-drop {
    height: 349px;
}

.assets-drag {
    height: 345px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.drag-playlist-list {
    display: flex;
    padding: 10px 10px;
    cursor: move;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.assets-drag .drag-playlist-list {
    width: 50%;
}

.drag-playlist-list:first-child {
    border-top: 1px solid #e0e0e0;

}

.drag-playlist-list:nth-child(2) {
    border-top: 1px solid #e0e0e0;
}

.playlist-drop .drag-playlist-list:nth-child(2) {
    border-top: none;
}

.drag-playlist-list:nth-child(odd) {
    border-right: none;
}

.drag-playlist-list:first-child {
    border-top: 1px solid #e0e0e0;
}

.drag-playlist-list:last-child {
    border-right: 1px solid #e0e0e0;
}

.playlist-drop .drag-playlist-list:nth-child(odd) {
    border-right: 1px solid #e0e0e0;
}

.draggable-count {
    align-self: center;
    padding-right: 10px;
    color: #b2b2b2;
}

.draggable-icons {
    width: 40px;
    height: 40px;
    align-self: center;
    position: relative;
    background-color: #ccc;
    overflow: hidden;
    display: block;
    border-radius: 5px;
}


.draggable-icons img {
    min-width: 100%;
    max-width: 150px;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    z-index: 1;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}


.draggable-title {
    flex: 2 0;
    padding-left: 10px;
    padding-right: 20px;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.draggable-title h4 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.draggable-asset-action,
.draggable-inputs,
.draggable-action {
    align-self: center;
    padding: 0 5px;
}

.draggable-inputs {
    width: 100px;
}

.draggable-inputs .form-control {
    height: 33px;
}

.draggable-action {
    padding: 0 0 0 5px;
}

.plalist-dropzone {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px dashed #b2b2b2;
    background-color: #EFF7FF;
    border-radius: 5px;
    color: #b2b2b2;
}



/*Accordion*/

.accordion-title {
    cursor: pointer;
}

.accordion-title {
    cursor: pointer;
}


.accordion-title .accordion-arrow {
    display: block;
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.accordion-title .accordion-arrow::before {
    content: "\f105";
}

.accordion-title.collapsed .accordion-arrow::before {
    content: "\f107";
}


.accordion-title .panel-body {
    background-color: #f2f2f2;
}


.action-bar {
    padding: 10px;
    background: #fff;
    border: 1px solid #e5e5e5;
}

.grid-stack-item .btn-center .btn {
    max-width: 94%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Calendar */

.box-body .fc {
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.fc-toolbar {
    padding: 20px 10px 10px !important;
}

.fc-toolbar h2 {
    margin-top: 5px !important;
    font-size: 21px;
}

.fc .fc-widget-header th {
    padding: 10px 5px;
    text-transform: uppercase;
    font-weight: normal;
}

.fc .fc-widget-header th.fc-today {
    background: #114172;
    color: #fff;
}

.fc-unthemed td.fc-today {
    background: #EFF7FF !important;
}

.fc-unthemed .fc-content-skeleton td.fc-today {
    color: #fff !important;
    background: #114172 !important;

}

.fc .fc-slats td {
    padding: 10px 5px;
}

.fc .fc-row .fc-content-skeleton td.fc-day-top {
    text-align: center;
}

.fc-day-number {
    font-size: 18px;
    font-family: 'brandon_textbold';
    font-weight: normal;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: none !important;
}

.fc-time-grid .fc-slats td {
    text-transform: uppercase;
    font-size: 12px;
}

.fc-left .fc-button-group {
    margin-right: 15px;
}

.fc-state-default {
    color: #7f7f7f !important;
    text-shadow: none !important;
    box-shadow: none !important;
    background-image: none !important;
    background-color: #fff !important;
    border-radius: 3px;
    border: none !important;
    margin: 0 2px !important;
}


.fc-state-active,
.fc-state-down,
.fc-state-hover {
    color: #fff !important;
    background-color: #114172 !important;
}

.fc-today-button {
    color: #fff !important;
    background-color: #63BFB0 !important;
}

.fc-state-active,
.fc-state-down {
    background-color: #114172 !important;
    background-image: none !important;
    box-shadow: none !important;
}

.fc-state-default.fc-corner-right {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.fc-state-default.fc-corner-left {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

. @media (max-width: 850px) {
    .fc-toolbar .fc-center {
        width: 100%;
        margin: 15px 0 0 0;
        text-align: center;
    }

    .fc-toolbar h2 {
        width: 100%;
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .fc-toolbar {
        padding: 15px 0 10px 10px;
    }

    .fc-toolbar .fc-left {
        float: none !important;
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-bottom: 15px;
    }

    .fc-toolbar .fc-center {
        width: 100%;
        margin: 15px 0 0 0;
        text-align: center;
    }

    .fc-toolbar h2 {
        width: 100%;
        font-size: 18px;
    }

    .fc-button-group {
        float: none !important;
        display: inline-block;
        vertical-align: middle;
    }

    .fc-toolbar .fc-right {
        float: right;
        float: none;
        width: 100%;
        text-align: center;
    }

    .fc-toolbar button {
        float: none !important;
        vertical-align: middle;
    }

}




/*Popover*/
.popover-header .popover-title {
    padding: 15px 40px 15px 15px;
}

.popover-header .close {
    margin-right: 10px;
    margin-top: 13px;
}

.popover-content {
    padding: 15px 15px;
}

.popover-content h4 {
    margin-top: 0px;
    margin-bottom: 15px;
}


.pop-action-tools {
    border-top: 1px solid #e5e5e5;
    padding: 10px 0px 0 0;
}


/*Badge*/

.badge {
    border-radius: 3px;
    background-color: #7f7f7f;
    font-weight: normal;
}

.badge-lg {
    font-size: 14px;
    padding: 5px 10px;
}


/*Slider*/

.carousel-control>.fa {
    width: 36px;
    height: 36px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border-radius: 100%;
    line-height: 36px;
    font-size: 28px;
    text-align: center;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.carousel-control:hover>.fa {
    background: #114172;
}

.carousel-indicators li {
    background: #fff;
    border: none;
}

.carousel-indicators .active {
    background: #114172;
}


/*Wizard*/

.generate-box-header {
    padding: 0 20px;
}

@media (min-width:992px) {
    .generate-box-header {
        padding: 0 90px;
    }
}


@media (min-width:1400px) {
    .generate-box-header {
        padding: 0 160px;
    }
}

.wizard-head {
    position: relative;
    margin: 0 0 3rem 0;
    padding: 5rem 5rem 0 5rem;
}

.wizard-head .wizard-progress {
    width: 72%;
    margin: 0 auto;
}

.wizard-head .wizard-progress .progress {
    height: 0.36rem;
    -webkit-border-radius: 0.71rem;
    -moz-border-radius: 0.71rem;
    -ms-border-radius: 0.71rem;
    -o-border-radius: 0.71rem;
    border-radius: 0.71rem;
}

.wizard-head .wizard-progress .progress .progress-bar {
    -webkit-border-radius: 0.71rem;
    -moz-border-radius: 0.71rem;
    -ms-border-radius: 0.71rem;
    -o-border-radius: 0.71rem;
    border-radius: 0.71rem;
}

.wizard-head .wizard-nav .wizard-steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.85rem;
    padding: 0;
}

.wizard-head .wizard-nav .wizard-steps .wizard-step {
    width: 30%;
    padding: 0 0.5rem 0 0.5rem;
}

.wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-number {
    text-decoration: none;
    outline: none !important;
}

.wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-number>span {
    position: relative;
    z-index: 1;
    margin: -5.05rem auto 0 auto;
    width: 4rem;
    height: 4rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-number>span>i {
    font-size: 1.8rem;
}

.wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-info {
    text-align: center;
    padding-top: 0.5rem;
}

.wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-info .wizard-step-title {
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0.6rem 0 0.7rem 0;
}

@media (max-width: 767px) {
    .wizard-head {
        padding: 5rem 2rem 0 2rem;
        display: table;
        width: auto;
        margin: 0 auto 3rem;
    }

    .wizard-head .wizard-progress {
        margin-bottom: 0;
        overflow: hidden;
    }

    .wizard-head .wizard-progress .progress {
        top: 0;
        position: absolute;
        width: 0.36rem;
        left: 4.15rem;
        height: 100%;
    }

    .wizard-head .wizard-progress .progress .progress-bar {
        width: 0.36rem;
        height: 0;
    }

    .wizard-head .wizard-nav .wizard-steps {
        display: table;
        margin-top: 0;
        width: auto;
        margin: 0 auto;
    }

    .wizard-head .wizard-nav .wizard-steps .wizard-step {
        display: table-cell;
        display: block;
        width: 100%;
        margin-bottom: 2.5rem;
        padding: 0;
    }

    .wizard-head .wizard-nav .wizard-steps .wizard-step:last-child {
        margin-bottom: 0;
    }

    .wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-number {
        display: table-cell;
        vertical-align: middle;
    }

    .wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-number>span {
        margin-top: 0;
        left: 0.25rem;
    }

    .wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-number:first-child {
        content: none;
    }

    .wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-info {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding-left: 2rem;
        padding-top: 0;
    }

    .wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-info .wizard-step-title {
        margin: 0;
    }
}

.wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-number>span {
    background-color: #e2e5ec;
}

.wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-number>span>i {
    color: #fff;
}

.wizard-head .wizard-nav .wizard-steps .wizard-step a.wizard-step-number:hover>span {
    background-color: #bdc3d4;
}

.wizard-head .wizard-nav .wizard-steps .wizard-step a.wizard-step-number:hover>span>span {
    color: white;
}

.wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-info .wizard-step-title {
    color: #898b96;
}

.wizard-head .wizard-nav .wizard-steps .wizard-step .wizard-step-info .wizard-step-desc {
    color: #6f727d;
}

.wizard-head .wizard-steps .wizard-step.wizard-step--current .wizard-step-number>span {
    background-color: #114172;
}

.wizard-head .wizard-steps .wizard-step.wizard-step--current .wizard-step-number>span>span {
    color: #ffffff;
}

.wizard-head .wizard-steps .wizard-step.wizard-step--current a.wizard-step-number:hover>span {
    background-color: #185491;
}

.wizard-head .wizard-steps .wizard-step.wizard-step--current a.wizard-step-number:hover>span>span {
    color: #ffffff;
}


.after-generate-body .form-group {
    padding: 15px;
    margin: 0;  
    background: #f0f0f0;
}

.after-generate-body .form-group .form-control {
    margin-bottom: 15px
}

@media (min-width:767px) {
.after-generate-body .form-group .form-control {
    margin-bottom: 0;
}
}
.floors {
    width: 100%;
    display: inline-block;
}

.after-generate-body .form-group .loop-group .form-control {
    width: 90px; 
    margin-bottom: 0;

}

/*Weather Extended*/

.p-5 {
    padding: 5px !important;
}
.font-size-30 {
    font-size: 2.143rem !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mr-5 {
    margin-right: 5px !important;
}

.weather-icon i {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.text-top {
    vertical-align: top !important;
}
.inline-block {

    display: inline-block !important;

}

.weather-value {
    font-size: 32px;    
}


/*Iframe CSS*/
.iframe-media {
    width: 100%;
    height: 100%;
    min-height: 400px;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 0;
    object-fit: contain;
}



/*Initial Blank Pages, Blank Message*/

.lg-message {
    padding: 50px 20px 40px;
}

.lg-message h4 {
    font-weight: normal;
}